body {
    background-color: rgb(34, 33, 33);
    color: #55c8c3;
    scroll-behavior: smooth;
}

.hero-section {
    background-image: url("../image/ter_absolute.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 0;
    margin-bottom: 30px;
}

.hero-section::before {}

.content-section {
    padding: 50px 0;
}

.navbar {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-size: larger;
}

.navbar-brand {
    margin-right: 20px;
}

.nav-item {
    max-width: 100px;
    align-content: center;
    margin: 0px 10px;
}

.navtext {
    margin: 0;
    text-align: center;
    color: #55c8c3;
}

.card {
    border-color: #55c8c3;
}

.list-group-item {
    background-color: transparent;
    border-bottom: 0;
    color: #55c8c3;
    font-size: small;
}

.ter_table {
    padding-top: 10px;
    display: grid;
    grid: 1fr 1fr / 1fr 2fr;
}

.ter_table p {
    padding: 1px 5px;
    background-color: transparent;
    color: #55c8c3;
    text-align: center;
}

.ter_table p span {
    font-weight: bolder;
}

.link-we {
    padding-top: 30px;
}